.Widget1 {
  background-color: #151515;
  padding: 1rem;
  min-height: 265px;
  border-radius: 4px;
  max-height: 300px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}